<div class="purchaseModal">
    <div class="modalContainer">
        <h2>Registre sua Compra</h2>
        <form (ngSubmit)="savePurchase(purchase)" #purchaseForm="ngForm">
            <div>
                <label for="companyId">Empresa:</label>
                <select id="companyId" name="companyId" ngModel #companyId="ngModel" [(ngModel)]="purchase.companyId">
                    <option disabled> Escolha a empresa fornecedora </option>
                    <option *ngFor="let company of companies" value="{{company.id}}">{{company.name}} </option>
                </select>
            </div>
            <div>
                <label for="products">Produtos:</label>
                <div class="addProduct">
                    <select id="productSale" name="productSale" type="text" ngModel #companyId="ngModel" [(ngModel)]="productId">
                        <option disabled> Escolha a empresa fornecedora </option>
                        <option *ngFor="let product of products" value="{{product.id}}">{{product.name}} </option>
                    </select>
                    <input type="number" min="1" name="quantity" id="quantity" [(ngModel)]="quantity">
                    <button class="quantityButton"type="button" (click)="addProductSale()" [disabled]="!(quantity != 0 && productId != 0)"> Adicionar </button>
                </div>

                <div class="productList" *ngIf="productsSale.length > 0">
                    <div class="saleTable">
                        <p><b>Produtos</b></p>
                        <p><b>Quantidade</b></p>
                    </div>
                    <div class="saleTable" *ngFor="let productSale of productsSale">
                        <p>{{productSale.product.name}}</p>
                        <p>{{productSale.quantity}}</p>
                        <button class="quantityButton"type="button" (click)="removeProductSale(productSale)"> Remover </button>
                    </div>
                </div>
            </div>
            <div class="divTotal">
                <label for="total">Total:</label>
                <input id="total" name="total" type="text" ngModel #total="ngModel" placeholder="R$0,00" disabled  [(ngModel)]="purchase.total">
            </div>

            <div class="buttonsContainer">
                <button type="button" (click)="close()">  Fechar </button>
                <button [disabled]="!(productsSale.length != 0 && purchase.companyId != 0)"  type="submit"> Enviar</button>
            </div>
        </form>
    </div>
</div>